.app-layout {
  display: flex;
  height: 100%;
}

nav {
  flex-shrink: 0;
  width: 160px;
  border-right: 1px solid var(--border-medium);
  padding: var(--spacing-md);
}

.main-menu-list {
  font-size: var(--text-large);

  li a {
    display: block;
    padding: var(--spacing-xs) 0;
  }
}

main {
  flex: 1;
  padding: var(--spacing-lg);
}

.active-link {
  font-weight: bold;
}
